.login {
	width: 350px;
	margin: 100px auto;
}
input {
	display: block;
}
p.error {
	background:red;
	color: white;
	padding: 10px; 
}

p.info {
	background:green;
	color: white;
	padding: 10px; 
}
.errmsg{
	margin: 20px 0;
}